*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.zero-padding {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.input, .input-mini {
  font-weight: bold;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}
.input::-webkit-input-placeholder, .input-mini::-webkit-input-placeholder {
  font-weight: normal;
  color: #999999;
  opacity: 1;
}
.input::-moz-placeholder, .input-mini::-moz-placeholder {
  font-weight: normal;
  color: #999999;
  opacity: 1;
}
.input:-ms-input-placeholder, .input-mini:-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
  opacity: 1;
}
.input::-ms-input-placeholder, .input-mini::-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
  opacity: 1;
}
.input::placeholder, .input-mini::placeholder {
  font-weight: normal;
  color: #999999;
  opacity: 1;
}
.input {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
}
.input:hover, .input:focus, .input-mini:hover, .input-mini:focus {
  border: solid 1px rgba(154, 154, 154, 0.52);
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}
.input:active, .input-mini:active {
  border: solid 1px rgba(46, 136, 228, 0.52);
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}
.input-mini {
  font-size: 14px;
  line-height: 1.71;
  border-radius: 5px;
}
.button-orange {
  min-height: 44px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #fefefe;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
.button-orange:hover, .button-orange:focus {
  -webkit-box-shadow: 0px 2px 2px 0 #ac1000;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: -o-linear-gradient(left,#ed705e 0%,#f58669 100%);
  background-image: -webkit-gradient(linear,left top, right top,from(#ed705e),to(#f58669));
  background-image: linear-gradient(90deg,#ed705e 0%,#f58669 100%);
}
.button-orange:active {
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
  box-shadow: inset 0 2px 2px 0 #942718;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);    
}
.under-line, .menu-under-line {
  border-bottom: solid 1px rgba(255,255,255, 0.2);
  font: inherit;
}
.under-line-black {
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  font: inherit;
}
.big-under-line-black{
  border-bottom: solid 2px black;
  font: inherit;
}
span[class="under-line"]:hover, span[class="under-line"]:active, span[class="under-line"]:focus {
  color: #ffbc9e;
  border-bottom: solid 1px rgba(255, 188, 158, 0.3);
}
span[class="under-line-black"]:hover, span[class="under-line-black"]:active, span[class="under-line-black"]:focus {
  color: #e84d37;
  border-bottom: solid 1px rgba(232, 77, 55, 0.3);
}
span[class="big-under-line-black"]:hover, span[class="big-under-line-black"]:active, span[class="big-under-line-black"]:focus {
  color: #e84d37;
  border-bottom: solid 2px rgba(232, 77, 55, 0.3);
}
.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;    
}
.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}
.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}
.catalog-wrapper {
  min-width: 1200px;
  background-image: -o-linear-gradient(top,#9cb0a5 1%,#849d8f 40%);
  background-image: -webkit-gradient(linear,left top, left bottom,color-stop(1%, #9cb0a5),color-stop(40%, #849d8f));
  background-image: linear-gradient(to bottom,#9cb0a5 1%,#849d8f 40%);    
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 9px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1150px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}
.logo-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.main-header-logo {
  width: 154px;
  height: 64px;
  margin-left: 2px;
  margin-right: 10px;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation a {
  display: block;
  margin-bottom: 6px;
  padding: 9px 14px;
  font-weight: 700;
  color: #ffffff;    
}
.header-catalog {
  position: relative;
}
.header-catalog>a {
  border-radius: 17px;
}
.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  margin-left: 9px;
  border-radius: 17px;
  font-weight: 700;
  color: #ffffff;    
}
.site-navigation li {
  text-align: center;
  vertical-align: middle;
}
.header-catalog a:hover, .header-catalog a:focus {
  color: #323232;
  background-color: #f8f7f4;
}
.header-catalog>a:active {
  color: #323232;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
.header-catalog:hover .accordion, .header-catalog:focus .accordion {
  display: block;
}
.header-catalog a:active {
  color: #323232;
  background-color: #f8f7f4;
  -webkit-text-decoration-color: rgba(255,255,255, 0.01);
  text-decoration-color: rgba(255,255,255, 0.01);
}
.catalog-current>a {
  -webkit-text-decoration-color: rgba(255,255,255, 0.01);
  text-decoration-color: rgba(255,255,255, 0.01);
  background-color: #d07058;
}
.accordion {
  position: absolute;
  top: 40px;
  left: -7px;
  z-index: 100;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;    
}
.site-navigation ul {
  width: 143px;
  min-height: 170px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 4px;
}
.accordion a {
  margin: 0;
  padding: 8px 20px;    
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  -webkit-text-decoration-color: rgba(255,255,255, 0.01);
  text-decoration-color: rgba(255,255,255, 0.01);
  color: #323232;
  text-align: left;    
}
.accordion a:not(.first-accordion):hover, .accordion a:not(.first-accordion):focus {
  background-color: #fbded7;
}
.accordion a:not(.first-accordion):active {
  background-color: #f6b5a5;
}
.accordion .first-accordion {
  position: relative;
  font-weight: 700;
  padding: 10px 20px 14px 20px;
}
.accordion .first-accordion::before {
  position: absolute;
  content: "";
  left: 8px;
  right: 8px;
  bottom: 0;
  width: auto;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
li .accordion-current {
  color: #ffffff;
  background-color: #d07058;
}
.button>a {
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;
  background-color: rgba(255,255,255, 0.2);
  border: none;
}
.button:hover>a, .button:focus>a, .button:active>a {
  color: #323232;
  background-color: #f8f7f4;
}
.user-navigation>li {
  position: relative;
}
.search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33px;
  height: 33px;
}
.search-button:hover .search-form, .login-button:hover .login, .basket-full:hover .backet-table {
  display: block;
}
.search-form {
  position: absolute;
  right: 0px;
  top: 36px;
  z-index: 100;
  display: none;
  width: 341px;
  height: 84px;
  margin: 0;
  padding: 20px 15px;    
  border-radius: 4px;    
}
.search-form input {
  width: 311px;
  height: 44px;
  padding: 11px 14px;    
  border: 1px solid #d3d3d2;    
}
.button:hover g, .button:active g, .button:focus g {
  fill: black;
}
.button .login-link, .button .basket {
  height: 33px;
  padding: 8px 17px;    
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login-link svg, .basket svg, .basket-full svg {
  margin-right: 7px;
}
.search-form, .login {
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}
.login {
  position: absolute;
  right: 0px;
  top: 36px;
  z-index: 100;
  display: none;
  width: 277px;
  min-height: 214px;
  margin: 0;
  padding: 20px 18px;    
  border-radius: 5px;    
}
.login a {
  height: 20px;
  font-size: 13px;
  line-height: 1.85;
  color: #323232;    
}
.login input {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  padding: 11px 14px;    
  border: 1px solid #d3d3d2;
}
.login>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.button-login {
  width: 100px;
}
.basket-full>a {
  width: 117px;
  height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;    
}
.backet-table {
  position: absolute;
  right: 0px;
  top: 36px;
  z-index: 100;
  display: none;
  width: 540px;
  min-height: 242px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;
  padding: 8px 15px 10px 18px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;    
}
.backet-table table {
  width: 510px;
  height: 124px;
  margin-bottom: 12px;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacac7;
}
.line-table td:first-child {
  width: 11px;
}
.line-table img {
  border-radius: 50%;
}
.line-table button {
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  background: url("../img/delete.svg") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}
.line-table td:nth-child(2) {
  width: 49px;
  padding: 6px 7px;
}
.line-table td:nth-child(3) {
  width: 242px;
  padding-right: 25px;
  padding-top: 9px;
}
.line-table td:nth-child(4) {
  width: 121px;
}
.line-table td:nth-child(5) {
  width: 68px;
}
.backet-table a {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;
}
.item-table {
  color: #999999;
}
.td-last-child {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 14px;
}
.position-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
div .button-sale-backet {
  display: block;
  width: 170px;
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  font-style: normal;
  text-align: center;
  color: #fefefe;    
}
.header-info {
  width: 170px;
  margin: 0;
  padding: 0;    
  font: inherit;
  text-align: right;
  white-space: normal;
}
.header-span {
  font-size: 14px;    
  font-weight: 700;
  line-height: 1.14;
  vertical-align: top;
}
.header-info a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 0.09;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: -26px;
  margin-bottom: 3px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.breadcrumbs a {
  margin-right: 7px;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: left;    
}
.breadcrumbs a::after {
  content: "»";
  margin-left: 7px;
}
.breadcrumbs-current {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: left;
}
.page-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
}
.filters {
  width: 100%;
  min-height: 132px;
  margin-bottom: 18px;
}
.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
  color: #ffffff;
}
.filter-form>div {
  min-height: 56px;
  margin-right: 12px;
  margin-bottom: 18px;
}
.filter-form p {
  margin-bottom: 6px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.14;
}
.filter-input {
  min-height: 37px;
  padding: 9px 15px 9px 0px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 18px;    
}
.sprting-select {
  width: 180px;
  padding-left: 16px;
  padding-right: 15px;
  font: inherit;
  color: #ffffff;
  border: none;    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255,255,255, 0);
  border: none;    
  cursor: pointer;
}
.sprting div {
  position: relative;
}
.sprting div::after {
  position: absolute;
  right: 18px;
  top: 10px;
  content: "▼";
  width: 11px;
  height: 10px;
  color: inherit;    
  pointer-events: none;
}
.sprting-select::-ms-expand {
  display: none;
}
.sprting div:hover .sprting-select, .sprting div:focus .sprting-select, .sprting div:hover, .sprting div:focus {
  color: #323232;
}
.filter-range {
  width: 220px;
  color: #ffffff;
}
.price-controls {
  position: relative;
  margin-bottom: 4px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.14;
}
.price-controls label {
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
}
.price-controls input {
  width: 27px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;    
}
.range-controls {
  position: relative;
}
.range-controls .scale {
  position: absolute;
  top: 16px;
  left: 22px;
  right: 22px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  position: absolute;
  left: 15px;
  width: 60%;
  height: 4px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #9DA39C;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.range-toggle:hover {
  width: 22px;
  height: 22px;
}
.range-toggle-min {
  left: 16%;
}
.range-toggle-max {
  left: 61%;
}
.for-radio label {
  position: relative;
  margin-left: 46px;
  cursor: pointer;
}
.filter-input-radio + label::before {
  position: absolute;
  top: 0px;
  left: -32px;    
  content: "";
  width: 22px;
  height: 22px;
  border: 4px solid #ffffff;
  opacity: 0.8;
  border-radius: 50%;
}
.filter-input-radio:enabled:hover + label::before, .filter-input-radio:enabled:focus + label::before {
  position: absolute;
  top: 0px;
  left: -32px;
  content: "";
  width: 22px;
  height: 22px;
  border: 4px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}
.filter-input-radio:disabled + label {
  opacity: 0.5;
}
.filter-input-radio:checked + label::after {
  position: absolute;
  top: 0px;
  left: -32px;  
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.8;
  border-radius: 50%;
}
.filter-input-radio:enabled:checked:focus + label::after, .filter-input-radio:enabled:checked:hover + label::after {
  position: absolute;
  top: 0px;
  left: -32px;
  content: "";
  width: 22px;
  height: 22px; 
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 1;
  border-radius: 50%;
}
.filter-input fieldset {    
  width: 686px;
  padding: 0;
  background-color: rgba(255,255,255, 0);
  border: none;
}
.for-checkbox label {
  position: relative;
  margin-left: 49px;
  cursor: pointer;
}
.filter-input-checkbox + label::after {
  position: absolute;
  top: 0px;
  left: -37px;
  content: "";
  width: 20px;
  height: 20px;    
  background-image: url("../img/checkbox-off.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}
.filter-input-checkbox:enabled:hover + label::after, .filter-input-checkbox:enabled:focus + label::after {
  position: absolute;
  top: 0px;
  left: -37px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.filter-input-checkbox:disabled + label {
  opacity: 0.5;
}
.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: 0px;
  left: -37px;
  content: "";
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");    
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}
.filter-input-checkbox:enabled:checked:hover + label::after, .filter-input-checkbox:enabled:checked:focus + label::after {
  position: absolute;
  top: 0px;
  left: -37px;
  content: "";
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");    
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}
.filter-button {
  width: 144px;
  min-height: 37px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #ffffff;
  border: solid 2px #ffffff;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 18px;
  cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}
.filter-button:active {
  color: #323232;
  background-color: #ededed;
  border: none;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;    
  list-style: none;
}
.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 267px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.catalog-item:hover .catalog-item-image, .catalog-item:active .catalog-item-image {
  z-index: 0;
}
.catalog-item:hover .catalog-item-price, .catalog-item:active .catalog-item-price {
  z-index: 50;
}
.catalog-item:hover .catalog-category, .catalog-item:active .catalog-category {
  z-index: 4;
}
.catalog-item:hover .fast-see, .catalog-item:active .fast-see {
  z-index: 5;
}
.catalog-item:hover::after, .catalog-item:active::after {
  position: absolute;
  left: -13px;
  bottom: -34px;
  z-index: 1;
  content: "";
  width: 293px;
  min-height: 405px;
  opacity: 0.2;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  border-radius: 5px;
}
.catalog-item:hover .fast-see, .catalog-item:focus .fast-see {
  display: block;
}
.catalog-list li {
  margin-right: 26px;
}
.catalog-list li:nth-child(4n) {
  margin-right: 0px;
}
.catalog-item h3 {
  min-height: 37px;
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
.catalog-item-image img {
  margin-bottom: 8px;
  margin-top: 3px;
  border-radius: 50%;
}
.button-sale {
  position: absolute;
  bottom: 95px;
  left: -1px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}
.small-text::before {
  content: "₽";
  margin-left: -8px;
  font-size: 45px;
}
.small-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}
.fast-see {
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: none;
  width: 200px;
  margin-left: -100px; 
  padding-top: 10px;   
  text-align: center;
}
.nav-catalog {
  min-width: 190px;
  min-height: 26px;
  margin-left: auto;
  margin-top: 44px;
  margin-bottom: 30px;
}
.pagination-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.pagination-list-before {
  display: block;
  width: 8px;
  height: 12px;
  margin-right: 14px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-left-small.svg") no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.2;
  cursor: pointer;
}
.pagination-list-after {
  display: block;    
  width: 8px;
  height: 12px;
  margin-left: 14px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-right-small.svg") no-repeat;
  cursor: pointer;
}
.pagination-item {
  margin-right: 3px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  display: block;
  width: 26px;
  height: 26px;
  padding: 5px 9px; 
  background-color: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
}
.pagination-item a:hover, .pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.pagination-item a:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}
.delimetr {
  width: 1146px;
  height: 1px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  background-color: white;
  opacity: 0.3;
}
.beautiful-block {
  width: 1146px;
  min-height: 1158px;
}
.slider {
  position: relative;
  padding-top: 273px;
  padding-bottom: 41px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.button-slider {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.button-slider:hover {
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button-slider:active {
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}
#product-1:checked ~ .site-wrapper #slide1, #product-2:checked ~ .site-wrapper #slide2, #product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"], #product-2:checked ~ .site-wrapper label[for="product-2"], #product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.free-toppings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 37px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.topping {
  width: 560px;
  min-height: 229px;
  padding: 17px 21px 23px 18px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.raspberries {
  background-color: rgb(183, 4, 38);
  background-image: url("../img/raspberry.jpg");
  background-size: 100% 100%;
}
.chocolate {
  background-color: rgb(87, 54, 32);
  background-image: url("../img/chocolate.jpg");
  background-size: 100% 100%;
}
.topping h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-size: 35px;
  line-height: 1.17;
}
.topping p {
  margin-bottom: 45px;
}
.want-raspberries, .want-chocolate {
  display: block;
  width: 170px;
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  font-style: normal;
  text-align: center;
  color: #fefefe;
}
.want-chocolate {
  width: 165px;
}
.want-chocolate {
  width: 189px;
}
.hit-list .catalog-item-image::before {
  position: absolute;
  left: 0px;
  top: 3px;
  content: "Хит";
  width: 61px;
  height: 61px;
  font-size: 0;
  line-height: 0;
  background: url("../img/hit.svg") no-repeat 50% 50%;
}
.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1146px;
  min-height: 306px;
  margin-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #323232;
  background-color: blanchedalmond;
  background-image: url("../img/background-advantages.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}
.page-info {
  width: 1013px;
  min-height: 61px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 26px;
  margin-right: 112px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1146px;
  margin-top: 0px;
  margin-right: 33px;
  margin-bottom: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 95px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.item-advantages {
  position: relative;
  width: 475px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}
.item-advantages:nth-child(2n) {
  width: 470px;
  margin-left: 91px;
}
.ice-about, .cow-about, .sheet-about, .temperature-about {
  position: absolute;
  top: -13px;
  left: -58px;
}
.news-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 41px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 39px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news {
  width: 560px;
  min-height: 220px;
  padding: 23px 20px;
  background-color: #ffffff;
  background-image: url("../img/background-news.jpg");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.news-blog {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font: inherit;
  color: #323232;
  font-weight: 500;
}
.text-link a {
  display: block;
  width: 285px;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
}
.form-sub {
  width: 562px;
  min-height: 220px;
  padding: 28px 17px 28px 21px;
  background-color: #f8f7f4;
  border: 6px solid #8996a6;
  border-image-slice: 6;
  border-image-source: url("../img/letter.svg");
  border-radius: 16px;
}
.form-sub p {
  margin-bottom: 37px;
  font: inherit;
  color: #5a5a5a;
}
.form-sub form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 508px;
  min-height: 44px;
  margin-top: 34px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form-sub input {
  width: 369px;
  height: 44px;
  margin-right: 3px;
  padding: 11px 14px;    
}
.form-sub button {
  width: 128px;
}
.map {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 430px;
  margin-bottom: 24px;
}
.map-block {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  height: 430px;
  margin-left: -600px;
  background: url("../img/map.jpg") no-repeat 50% 50%;
}
.map-google {
  position: relative;
  z-index: 20;
  width: 100%;
  border: none;
}
.map-block::before {
  position: absolute;
  top: 139px;
  left: 266px;
  z-index: 0;
  content: "";
  width: 80px;
  height: 140px;
  background: url("../img/icon-ice.svg") no-repeat 50% 50%;
}
.map-block::after{
  position: absolute;
  top: 171px;
  left: 302px;
  z-index: 0;
  content: "";
  width: 182px;
  height: 110px;
  background: url("../img/grost.png") no-repeat 50% 50%;
}
.contact-address {
  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 30;
  width: 302px;
  min-height: 305px;
  padding: 31px 25px;
  background-color: #ffffff;
  border-radius: 16px;
}
.contact-address div {
  font-size: 14px;
  color: #323232;
  line-height: 1.43;
  text-align: left;
}
.contact-big-text {
  font-size: 18px;    
  color: #323232;
  font-weight: bold;
  line-height: 1.33;
}
.map-address {
  margin: 0;
  margin-bottom: 20px;
}
.map-address p {
  width: 148px;
}
.map-contact p {
  margin-top: 2px;
  margin-bottom: 5px;
}
.send-letter-link {
  display: block;
  width: 252px;
  margin-top: 23px;
  padding-top: 10px; 
  text-align: center;  
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: white;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.main-footer li {
  list-style: none;
}
.main-footer a {
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
}
.footer-social {
  width: 180px;
  text-align: center;
}
.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  margin-left: 3px;
  margin-right: auto;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  list-style: none;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 17px;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 1px #ffffff;
  box-shadow: 0 0 3px 1px #ffffff;
  opacity: 0.7;
}
.twitter {
  background: url("../img/twitter.svg") no-repeat 50% 50%;
}
.instagram {
  background: url("../img/insta.svg") no-repeat 50% 50%;
}
.facebook {
  background: url("../img/facebook.svg") no-repeat 50% 50%;
}
.vkontakte {
  background: url("../img/vk.svg") no-repeat 50% 50%;
}
.social-button:hover, .social-button:focus {
  opacity: 1;
}
.social-button:active {
  opacity: 0.8;
}
.social-button:hover path, .social-button:focus path {
  fill: #000000;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  margin: 0;
  margin-top: -12px;
  margin-left: 15px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-link li {
  width: 112px;
  margin-right: 30px;
}
.footer-link li:nth-child(2n) {
  width: 163px;
  margin-right: 0px;
}
.footer-link li:first-child {
  position: relative;
  font-weight: 700;
}
.footer-link li:first-child::before {
  position: absolute;
  left: -20px;
  top: 5px;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/logo-hurt.svg");
  color: white;
  fill: white;
}
.footer-copyright {
  margin-top: -20px;
}
.footer-copyright p, .footer-copyright span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
  color: #fefefe;
}
.footer-copyright img {
  width: 108px;
  height: 39px;
}
.send-letter {
  position:fixed;
  top: 0;
  left: 0;
  z-index:50;
  display: none;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.4);
}
.modal-window {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 50;
  display: none;
  width: 478px;
  min-height: 443px;
  margin-left: -239px;
  padding: 18px 24px;
  border-radius: 10px;
  background-color: #f8f7f4;
}
.modal-show {
  display: block;
}
.modal-show1 {
  display: block;
  -webkit-animation: bounce 0.3s;
  animation: bounce 0.3s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
@-webkit-keyframes bounce {
  0% {
      -webkit-transform: translateX(+500px) translateY(+500px) rotate(60deg) scale(0.2);
      transform: translateX(+500px) translateY(+500px) rotate(60deg) scale(0.2);
 }
  30% {
      -webkit-transform: translateX(+200px) translateY(+200px) rotate(50deg) scale(0.5);
      transform: translateX(+200px) translateY(+200px) rotate(50deg) scale(0.5);
 }
  50% {
      -webkit-transform: translateX(+100px) translateY(+100px) rotate(40deg) scale(0.6);
      transform: translateX(+100px) translateY(+100px) rotate(40deg) scale(0.6);
 }
  70% {
      -webkit-transform: translateX(+50px) translateY(+50px) rotate(20deg) scale(0.7);
      transform: translateX(+50px) translateY(+50px) rotate(20deg) scale(0.7);
 }
  80% {
      -webkit-transform: translateX(+30px) translateY(+30px) rotate(15deg) scale(0.8);
      transform: translateX(+30px) translateY(+30px) rotate(15deg) scale(0.8);
 }
  90% {
      -webkit-transform: translateX(+10px) translateY(+10px) rotate(10deg) scale(0.9);
      transform: translateX(+10px) translateY(+10px) rotate(10deg) scale(0.9);
 }
  100% {
      -webkit-transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
      transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
 }
}
@keyframes bounce {
  0% {
      -webkit-transform: translateX(+500px) translateY(+500px) rotate(60deg) scale(0.2);
      transform: translateX(+500px) translateY(+500px) rotate(60deg) scale(0.2);
 }
  30% {
      -webkit-transform: translateX(+200px) translateY(+200px) rotate(50deg) scale(0.5);
      transform: translateX(+200px) translateY(+200px) rotate(50deg) scale(0.5);
 }
  50% {
      -webkit-transform: translateX(+100px) translateY(+100px) rotate(40deg) scale(0.6);
      transform: translateX(+100px) translateY(+100px) rotate(40deg) scale(0.6);
 }
  70% {
      -webkit-transform: translateX(+50px) translateY(+50px) rotate(20deg) scale(0.7);
      transform: translateX(+50px) translateY(+50px) rotate(20deg) scale(0.7);
 }
  80% {
      -webkit-transform: translateX(+30px) translateY(+30px) rotate(15deg) scale(0.8);
      transform: translateX(+30px) translateY(+30px) rotate(15deg) scale(0.8);
 }
  90% {
      -webkit-transform: translateX(+10px) translateY(+10px) rotate(10deg) scale(0.9);
      transform: translateX(+10px) translateY(+10px) rotate(10deg) scale(0.9);
 }
  100% {
      -webkit-transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
      transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
 }
}
@-webkit-keyframes shake {
  0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
 }
  10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
 }
  20%, 40%, 60%, 80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
 }
}
@keyframes shake {
  0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
 }
  10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
 }
  20%, 40%, 60%, 80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
 }
}
.modal-window>p {
  margin-bottom: 17px;
}
.modal-window p:first-of-type {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  color: #323232;
}
.letter .input {
  padding: 10px 15px;
}
.input-name, .input-email {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}
.input-letter {
  width: 428px;
  height: 155px;
  padding: 13px 15px;
  margin-bottom: 20px;
}
.button-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 139px;
  margin-left: auto;
  padding: 10px 24px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end ;
  text-align: center;
}
.close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 18px;
  height: 17px;
  background: url("../img/close.svg") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}