*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {      
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;    
  background-color: #849d8f;    
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer; 
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {  
  font-weight: bold; 
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52); 
}

input::placeholder,
textarea::placeholder {  
  font-weight: normal; 
  color: #999999;
  opacity: 1;
}

.input {
  font-size: 16px;
  line-height: 1.5;
}

.input:hover,
.input:focus,
.input-mini:hover,
.input-mini:focus {
  border: solid 1px rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

input:active,
.input-mini:active {
  border: solid 1px rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.input-mini {
  font-size: 14px;
  line-height: 1.71;
}

.button-orange {
  height: 44px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #fefefe;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);  
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.button-orange:hover,
.button-orange:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(90deg,#ed705e 0%,#f58669 100%);  
}

.button-orange:active {
  box-shadow: inset 0 2px 2px 0 #942718;
  background-image: linear-gradient(90deg,#e74a35 0%,#f26843 100%);
}
  
.under-line,
.menu-under-line {
  border-bottom: solid 1px  rgba(255,255,255, 0.2);
  font: inherit;
}

.under-line-black {
  border-bottom: solid 1px  rgba(0, 0, 0, 0.4);
  font: inherit;
}

.big-under-line-black{
  border-bottom: solid 2px  black;
  font: inherit;
}

span[class="under-line"]:hover,
span[class="under-line"]:active,
span[class="under-line"]:focus {
  color: #ffbc9e;
  border-bottom: solid 1px  rgba(255, 188, 158, 0.3);
}
  
span[class="under-line-black"]:hover,
span[class="under-line-black"]:active,
span[class="under-line-black"]:focus {
  color: #e84d37;
  border-bottom: solid 1px  rgba(232, 77, 55, 0.3);
}
  
span[class="big-under-line-black"]:hover,
span[class="big-under-line-black"]:active,
span[class="big-under-line-black"]:focus {
  color: #e84d37;
  border-bottom: solid 2px  rgba(232, 77, 55, 0.3);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;
  padding-top: 9px;   
}

.main-navigation {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: 0; 
  align-items: center; 
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.logo-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;    
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-left: 2px;
  margin-right: 10px;
}

.site-navigation { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;  
  padding: 0;  
  list-style: none;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;  
  padding: 0;  
  list-style: none;  
}

.site-navigation a {
  display: block;
  padding: 9px 14px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 6px;
}

.header-catalog {
  position: relative; 
}

.header-catalog>a {  
  border-radius: 17px;
}

.user-menu {
  display: flex;
  border-radius: 17px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 6px;
  margin-left: 9px;
}

.site-navigation li {  
  text-align: center;
  vertical-align: middle;
} 

.header-catalog a:hover,
.header-catalog a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.header-catalog:hover .accordeon,
.header-catalog:focus .accordeon {
  display: block;  
}

.header-catalog a:active {
  color: #323232;
  background-color: #f8f7f4;
  text-decoration-color: rgba(255,255,255, 0.01);
 }

.catalog-current>a {
  text-decoration-color: rgba(255,255,255, 0.01);
  background-color: #d07058;
}

.accordeon {  
  display: none;
  position: absolute; 
  list-style: none;  
  left: -7px;
  top: 40px;
  padding: 0;
  margin: 0;  
}

.site-navigation ul {   
  width: 143px;
  height: 170px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;  
  border-radius: 4px;
}

.accordeon a {
  text-decoration-color: rgba(255,255,255, 0.01);  
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  color: #323232;  
  text-align: left;
  margin: 0;
  padding: 8px 20px;  
}

.accordeon a:not(.first-accordeon):hover,
.accordeon a:not(.first-accordeon):focus {
  background-color: #fbded7;
}

.accordeon a:not(.first-accordeon):active {
  background-color: #f6b5a5;
}

.accordeon .first-accordeon {
  position: relative;
  font-weight: 700;
  padding: 10px 20px 14px 20px;  
}

.accordeon .first-accordeon::before {
  position: absolute;
  content: "";
  width: auto;
  height: 1px;
  left: 8px;
  right: 8px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

li .accordeon-current {
  color: #ffffff;
  background-color: #d07058;
}
  
.button>a {
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;  
  background-color: rgba(255,255,255, 0.2);
  border: none;
}
  
.button:hover>a,
.button:focus>a,
.button:active>a {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation>li {
  position: relative;
}

.search {  
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;  
}

.search-button:hover .search-form,
.login-button:hover .login,
.basket-full:hover .backet-table {
 display: block;
}

.search-form {
  display: none;
  position: absolute;
  right: 0px; 
  top: 36px;
  margin: 0;  
  padding: 20px 15px;
  width: 341px;
  height: 84px;
  border-radius: 4px;
}

.search-form input {
  padding: 15px;
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.button:hover g,
.button:active g,
.button:focus g {
  fill: black;  
}

.button .login-link,
.button .basket {
  padding: 8px 17px;
  height: 33px;
  align-items: center;
  justify-content: center;
} 

.login-link svg,
.basket svg,
.basket-full svg {
  margin-right: 7px;
}

.search-form, 
.login {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login {
  display: none;
  position: absolute;
  right: 0px; 
  top: 36px;
  margin: 0;  
  padding: 20px 18px;
  width: 277px;
  height: 214px;
  border-radius: 5px;
}

.login a {
  font-size: 13px;
  line-height: 1.85;
  color: #323232;  
  height: 20px;
}

.login input {
  margin-bottom: 20px;
  padding: 15px;
  width: 241px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.login-help {
  display: flex;
  flex-direction: column;  
}  

.button-login {
  width: 100px;  
}

.basket-full>a {
  width: 117px;
  height: 32px;
  opacity: 0.99;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #323232;
  background-color: #f8f7f4;
  align-items: center;
  justify-content: center;
}

.backet-table {
  display: none;
  position: absolute;
  right: 0px; 
  top: 36px;
  width: 540px;
  height: 242px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;  
  padding: 8px 15px 10px 18px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.backet-table table {
  width: 510px;
  height: 124px;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px;
}

.line-table td:first-child {
  width: 11px;  
}

.line-table button {
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 0;
  background: url('../img/delete.svg') no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}

.line-table td:nth-child(2) {
  width: 49px;  
  padding: 6px 7px;
}

.line-table td:nth-child(3) {
  width: 242px;  
  padding-right: 25px;
  padding-top: 9px;
}

.line-table td:nth-child(4) {
  width: 121px;  
}

.line-table td:nth-child(5) {
  width: 68px;  
}

.backet-table .line-table:nth-child(3){
  height: 8px;
}

.backet-table a {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;    
}

.item-table {
  color: #999999;
}

.td-last-child {
  font-size: 15px;
  font-weight: 700;  
  text-align: end;  
  margin-bottom: 14px;
}

.position-button {
  display: flex;
  flex-direction: row-reverse;  
}

div .button-sale-backet {
  display: block;
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  color: #fefefe;  
  margin: 0;
  padding-top: 10px;  
}

.header-info {
  margin: 0;  
  padding: 0;
  width: 170px;
  font: inherit;
  text-align: right; 
  white-space: normal;   
}

.header-span {
  font-size: 14px;
  line-height: 1.14;   
  vertical-align: top;
}

.header-info a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;   
}

.container {
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: -26px;
  margin-bottom: 3px;
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: left;  
  margin-right: 7px;
}

.breadcrumbs a::after {
  content: "»"; 
  margin-left: 7px;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: left;
}

.page-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.filters {  
  height: 132px;
  width: 100%;
  margin-bottom: 40px; 
}

.filter-form {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
  color: #ffffff;
}

.filter-form>div {  
  height: 56px;
  margin-right: 14px;
  margin-bottom: 18px;
}

.filter-form p {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 6px;
  padding-left: 16px;
}

.filter-input {
  height: 37px;  
  background-color: rgba(255,255,255, 0.2);
  border-radius: 18px;
  padding: 9px 15px 9px 0px;
}

.sprting-select {
  font: inherit;
  color: #ffffff;
  border: none;
  background-color:  rgba(255,255,255, 0);
  border: none;
  padding-left: 13px;
  padding-right: 15px;
  cursor: pointer;
}

.sprting div {
  position: relative;
}

.sprting div::after {
  position: absolute;
  content: "▼";
  width: 11px;
  height: 10px;  
  color: inherit;
  right: 20px;
  top: 10px;  
  pointer-events: none;
}

.sprting div:hover .sprting-select,
.sprting div:focus .sprting-select,
.sprting div:hover,
.sprting div:focus {  
  color: #323232;
}

.filter-range {
  width: 220px;  
  color: #ffffff;
}

.price-controls {
  position: relative;  
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
  padding-left: 16px;
}

.price-controls label {
  display: inline-block;
  cursor: pointer;
}

.price-controls input {
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  width: 27px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  position: absolute;
  top: 16px;
  left: 22px;
  right: 22px;
  height: 4px;  
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  position: absolute;
  left: 15px;
  width: 60%;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color:  #9DA39C;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  width: 22px;
  height: 22px;
}

.range-toggle-min {
  left: 16%;
}

.range-toggle-max {
  left: 61%;
}

.for-radio label {  
  position: relative;
  margin-left: 46px;
  cursor: pointer;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;  
  left: -32px;
  opacity: 0.8;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before, 
.filter-input-radio:focus + label::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;  
  left: -32px;
  opacity: 1;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.filter-input-radio:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;  
  left: -32px;
  opacity: 0.8;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
}

.filter-input-radio:checked:focus + label::after,
.filter-input-radio:checked:hover + label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;  
  left: -32px;
  opacity: 1;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
}

.filter-input fieldset {
  border: none;
  background-color:  rgba(255,255,255, 0);
  padding: 0;  
}

.for-checkbox label {  
  position: relative;
  margin-left: 49px;
  cursor: pointer;
}

.filter-input-checkbox + label::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;  
  left: -37px;
  opacity: 0.8;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:focus + label::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;  
  left: -37px;
  opacity: 1;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -37px;
  width: 23px;
  height: 23px;   
  opacity: 0.8;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  content: "";
  position: absolute;
  left: -37px;
  width: 23px;
  height: 23px;   
  opacity: 1;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  width: 84px;
  height: 37px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #ffffff;
  width: 144px;
  height: 37px;
  border: solid 2px #ffffff;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: rgba(255,255,255);
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  border: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  margin-top: 0px; 
  margin-right: 0px; 
  margin-left: 0px; 
  margin-bottom: 0px; 
  padding: 0px; 
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.catalog-item:hover .catalog-item-image,
.catalog-item:active .catalog-item-image {
  z-index: 2;
}

.catalog-item:hover .catalog-item-price,
.catalog-item:active .catalog-item-price {
  z-index: 3;
}

.catalog-item:hover .catalog-category,
.catalog-item:active .catalog-category {
  z-index: 4;
}

.catalog-item:hover .fast-see,
.catalog-item:active .fast-see {
  z-index: 5;
}

.catalog-item:hover::after,
.catalog-item:active::after {
  position: absolute;
  content: "";
  width: 293px;
  height: 405px;
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  left: -13px;
  bottom: -37px;
  border-radius: 5px;
  z-index: 1;
}

.catalog-item:hover .fast-see,
.catalog-item:focus .fast-see {
  display: block;
}

.catalog-list li {
  margin-right: 26px;   
}

.catalog-list li:nth-child(4n) {
  margin-right: 0px;   
}

.catalog-item h3  {
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  font-weight: 500;
  height: 37px;
  width: 260px;
  margin: 0;
  margin-bottom: 45px; 
  text-align: center;
  vertical-align: middle;  
}

.catalog-item-image img {  
  margin-bottom: 6px; 
  border-radius: 50%;  
}

.button-sale {
  position: absolute;
  bottom: 96px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;   
}

.small-text::before {
  content: "₽";
  font-size: 45px;
  margin-left: -8px;
}

.small-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;  
}

.fast-see {
  display: none;
  position: absolute;
  width: 200px;
  left: 50%;
  bottom: -15px;
  margin-left: -100px; 
}

.nav-catalog {
  margin-left: auto;
  margin-top: 43px;
  margin-bottom: 30px;
  width: 190px;
  height: 26px;
}




.pagination-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 24px;
  margin: 0;
  list-style: none;
}

.pagination-list::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 8px;
  left: 0;
  background: url('../img/icon-left-small.svg') no-repeat;
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-list::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 8px;
  right: 0;
  background: url('../img/icon-right-small.svg') no-repeat;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  width: 26px;
  height: 26px;
  background-color: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  padding: 5px 9px
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: 	rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.delimetr {
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.beautiful-block {
  min-height: 1158px;
  width: 1146px;
}

.slider {
  
  position: relative;
  
  padding-top: 273px;
  padding-bottom: 41px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 28px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button-slider {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button-slider:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slider:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.free-toppings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px; 
  padding-right: 0px;
  padding-bottom: 40px;  
}  

.topping {
  width: 560px;
  height: 229px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: bold;  
  text-align: left;
  color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 17px 21px 23px 18px;
}

.raspberries {
  background-image: url(../img/raspberry.jpg);
}

.chocolate {
  background-image: url(../img/chocolate.jpg);
}

.topping h3 {
  font-size: 35px;
  line-height: 1.17;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.topping p {
  margin-bottom: 45px;
}

.want-raspberries,
.want-chocolate {
  display: block;
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  color: #fefefe;  
  margin: 0;
  padding-top: 10px;  
}

.want-chocolate {  
  width: 165px;  
}

.want-chocolate {
  width: 189px;
}

.hit-list .catalog-item-image::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;  
  background: url('../img/hit.svg') no-repeat 50% 50%;
  left: 0px;
  top: 0px;
}


.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323232;
  height: 306px;
  background-color: blanchedalmond;
  background-image: url("../img/fon2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.page-info {
  margin-top: 26px;
  margin-right: 112px;
  width: 1013px;
  margin-left: 20px;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 33px;
  margin-left: 77px;
  padding: 0;
  list-style: none;
}

.item-advantiges {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  width: 475px;  
}

.item-advantiges:nth-child(2n) {
  margin-left: 91px;
  width: 470px;  
}

.ice-about,
.cow-about,
.sheet-about,
.temperature-about {
  position: absolute;
  top: -13px;
  left: -58px;
}


.news-sub {  
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-left: 0px; 
  padding-right: 0px;
  padding-bottom: 39px;  
}  

.news {
  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url("../img/fon-news.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 23px 20px;
}

.news-blog {
  font: inherit;
  color: #323232;
  font-weight: 500;  
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.text-link a {
  display: block;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;  
  width: 285px;
}

.form-sub {
  width: 562px;
  height: 220px;
  background-color: #f8f7f4;
  border: 6px solid #8996a6;
  border-image-slice: 6;
  border-image-source: url("../img/letter.svg");
  border-radius: 16px;
  padding: 28px 17px 28px 21px;
}

.form-sub p {
  font: inherit;
  color: #5a5a5a;
  margin-bottom: 37px;
}

.form-sub form {
  display: flex;
  justify-content: space-between;
  width: 508px;
  height: 44px;
  margin-top: 34px;  
}

.form-sub input {
  width: 369px;
  height: 44px;
  margin-right: 3px;
  padding: 14px;
  border-radius: 5px; 
}

.form-sub button {
  width: 128px;    
}

.map-block {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 430px;
  margin-bottom: 23px;
  background: url(../img/map.jpg) no-repeat 50% 50%;
}

iframe {
  position: relative;
  border: none;
  z-index: 20;
}

.map-block::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 140px;  
  background: url('../img/icon-ice.svg') no-repeat 50% 50%;
  left: 266px;
  top: 139px;
  z-index: 0;
}

.map-block::after{
  position: absolute;
  content: "";
  width: 182px;
  height: 110px;   
  background: url('../img/grost.png') no-repeat 50% 50%;
  left: 302px;
  top: 171px;
  z-index: 0;
}

.contact-address {
  position: absolute;
  top: 63px;
  right: 27px;
  width: 302px;
  height: 305px;
  padding: 31px 25px;
  background-color: #ffffff;
  border-radius: 16px;
  z-index: 30;
}

.contact-address article {
  font-size: 14px;
  color: #323232;
  line-height: 1.43;  
  text-align: left;
}

.contact-address span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;   
}

.map-address {
  margin: 0;
  margin-bottom: 20px;
}

.map-address p {
  width: 148px;
}

.map-contact p {
  margin-top: 2px;
  margin-bottom: 5px;
}

.contact-address button{
  margin-top: 20px;
  width: 252px;
}
 
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;   
}

.main-footer li {
  list-style: none;
}

.main-footer a {
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
}

.footer-social {
  width: 180px;  
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 210px;
  margin-left: 3px;
  margin-right: auto;
  padding: 0;  
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 17px;
  margin-bottom: 5px;
  opacity: 0.7;
  box-shadow: 0 0 3px 1px #ffffff;
}

.twitter {
  background: url('../img/twitter.svg') no-repeat 50% 50%;
}

.instagram {
  background: url('../img/insta.svg') no-repeat 50% 50%;
}

.facebook {
  background: url('../img/facebook.svg') no-repeat 50% 50%;
} 

.vkontakte {
  background: url('../img/vk.svg') no-repeat 50% 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  opacity: 0.8;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 310px;
  margin: 0;
  margin-top: -8px;
  margin-left: 16px;
  padding: 0;
}


.footer-link li {  
  width: 111px;
  margin-right: 30px;
}

.footer-link li:nth-child(2n) {
  width: 163px;
  margin-right: 0px;
}

.footer-link li:first-child {
  font-weight: 700;
  position: relative;
}

.footer-link li:first-child::before {
  content: ""; 
  width: 15px;
  height: 13px;
  background: url('../img/logo-hurt.svg');
  color: white;
  fill: white;
  position: absolute;
  left: -20px;
  top: 5px;
}

.footer-copyright {  
  margin-top: -20px;   
}

.footer-copyright p,
.footer-copyright span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
  color: #fefefe; 
}

.footer-copyright img {
  width: 108px;
  height: 39px;
}

.send-letter {  
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  width: 478px;
  height: 443px;
  margin-left: -239px;
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 18px 24px;
  z-index: 50;
}

.modal-show {
  display: block;
  animation: bounce 0.3s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateX(+500px) translateY(+500px) rotate(60deg) scale(0.2);
  }

  30% {
    transform: translateX(+200px) translateY(+200px) rotate(50deg) scale(0.5);
  }

  50% {
    transform: translateX(+100px)  translateY(+100px) rotate(40deg) scale(0.6);
  }  

  70% {
    transform: translateX(+50px) translateY(+50px) rotate(20deg) scale(0.7);
  }

  80% {
    transform: translateX(+30px) translateY(+30px) rotate(15deg) scale(0.8);
  }

  90% {
    transform: translateX(+10px)  translateY(+10px) rotate(10deg) scale(0.9);
  }

  100% {
    transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.send-letter>p {
  margin-bottom: 17px;
}

.send-letter p:first-of-type {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  color: #323232;
}

.letter .input {
  padding: 15px;  
}

.input-name,
.input-email {
  width: 267px;
  height: 44px; 
  margin-bottom: 20px;
}

.input-letter {
  width: 428px;
  height: 155px;
  padding: 13px 15px;
  margin-bottom: 20px;
}

div .button-letter {
  display: flex;
  align-items: flex-end ;
  text-align: center;  
  width: 139px;
  padding-left: 24px;  
  margin-left: auto;  
}

.close {
  position: absolute;
  width: 18px;
  height: 17px;
  right: 17px;
  top: 17px;  
  background: url('../img/close.svg') no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}