*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {      
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;    
  background-color: #849d8f;    
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input {
  color: #999999;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

.input-mini {
  color: #999999;
  font-size: 14px;
  line-height: 1.71;
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;
  margin-top: 9px;   
}


.main-navigation {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: 0; 
  align-items: center; 
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #849d8f;
}

.logo-site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;    
}

.main-header-logo {
  order: 0;
  width: 154px;
  height: 64px;
  margin-right: 24px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;  
  padding: 0;  
  width: 349px;
  list-style: none;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;  
  padding: 0;  
  width: 245px;
  list-style: none;  
}

.site-navigation a,
.user-navigation a {
  font-weight: 700;
  color: #ffffff;
}

.site-navigation li {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.2);
  text-align: center;
  vertical-align: middle;
} 

.header-catalog a:hover,
.header-catalog a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.header-catalog a:active {
  color: #323232;
  background-color: #f8f7f4;
 }

.header-catalog-current a{
  text-decoration-color: rgba(255,255,255, 0.01);
  background-color: #d07058;
}

.accordeon {  
  list-style: none; 
  padding: 0; 
}

.accordeon a {
  text-decoration-color: rgba(255,255,255, 0.01);
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  color: #323232;
  background-color: #f8f7f4;
}

.accordeon a:hover,
.accordeon a:focus {
  background-color: #fbded7;
}

.accordeon a:active {
  background-color: #f6b5a5;
}

.accordeon li:first-child {
  font-weight: 700;
}
  
.button>a {
  font: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;  
  background-color: rgba(255,255,255, 0.2);
  border: none;
}
  
.button>a:hover,
.button>a:focus,
.button>a:active {
  color: #323232;
  background-color: #f8f7f4;
}

.search, .login {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login a{
  font-size: 13px;
  line-height: 1.85;
  color: #323232;
  text-decoration: underline;
}

.button-login {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #fefefe;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.basket-full a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #323232;
  background-color: #f8f7f4;
}

.backet-table {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;  
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.backet-table a {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  color: #323232;    
}

.item-table {
  color: #999999;
}

.backet-table tr:last-child {
  font-size: 15px;
  font-weight: 700;
}
  
.button-sale em {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  font-style: normal;
  color: #fefefe;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.header-info {
  margin: 0;  
  padding: 0;
  width: 170px;
  font: inherit;
  text-align: right; 
  white-space: normal;   
}

.header-span {
  font-size: 14px;
  line-height: 1.14;  
}

.header-info a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}

.filters {
  height: 130px;
  width: 100%;
  background-color: violet;
}

.container {
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs a{
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.2);
  text-align: left;  
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: left;
}

.page-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  margin-top: 0px; 
  margin-right: 0px; 
  margin-left: 0px; 
  margin-bottom: 0px; 
  padding: 0px; 
  list-style: none;
}

.catalog-list li {
  margin-right: 26px;   
}

.catalog-list li:nth-child(4n) {
  margin-right: 0px;   
}

.catalog-category h3 {
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  font-weight: 500;
  width: 260px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.2);
  text-align: center;
  vertical-align: middle;
}

.catalog-item-image img {
  border-radius: 50%;
}

.button-sale {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}

.small-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.nav-catalog {
  margin-left: auto;
  width: 181px;
  height: 26px;
  background-color: violet;
}

.beautiful-block {
  min-height: 1165px;
  width: 1146px;
  background-color: violet;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323232;
  height: 306px;
  background-color: blanchedalmond;
  background-image: url("../img/fon2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.page-info {
  margin-top: 28px;
  margin-right: 112px;
  width: 1013px;
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: 33px;
  margin-left: 77px;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
}

.item-advantiges {
  padding: 0;
  margin: 0;
  width: 475px;
}

.item-advantiges:nth-child(2n) {
  margin-left: 91px;
  width: 470px;  
}

.news-sub {  
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-left: 0px; 
  padding-right: 0px;
  padding-bottom: 39px;  
}  

.news {
  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url("../img/fon-news.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news-blog {
  font: inherit;
  color: #323232;
  font-weight: 500;  
}

.text-link a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  text-decoration: underline; 
}

.form-sub {
  width: 560px;
  height: 220px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.form-sub p {
  font: inherit;
  color: #5a5a5a;
}

.form-sub button {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  box-shadow: 0px 2px 2px 0 var(--deep-red-64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.map-block {
  margin: 0 auto;
  width: 1200px;
  height: 430px;
  background-color: violet;
}
 
.main-footer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 18px; 
  width: 1200px;
  margin: 0 auto; 
  padding-left: 27px; 
  padding-right: 27px;  
  margin-top: 18px; 
}

.main-footer li {
  list-style: none;
}

.main-footer a {
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
}

.footer-link li {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.2);
}

.footer-link li:first-child {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
  color: #fefefe;
}

.footer-copyright span {
  text-decoration: underline; 
}

.send-letter {
  background-color: #f8f7f4;
}

.send-letter p:first-of-type {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  color: #323232;
}


.button-letter {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #fefefe;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}